@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  color: rgb(214, 91, 159);
  .carousel-wrapper {
    margin-top: 40px;
  }
}

.carousel {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 800px;
  height: 400px;
  border: 2px solid rgb(0, 0, 0);

  .fa-chevron-right, .fa-chevron-left {
    position: absolute;
    top: 200px;
    font-size: 25px;
    color: #fff;
    &:hover {
      color: rgb(0, 0, 0)
    }
  }
  
  .fa-chevron-left {
    left: 10px;
  }
  
  .fa-chevron-right {
    right: 10px;
  }

  ul {
    padding: 0;
    margin: 0;
    width: 800px * 3;

    li {
      list-style: none;
      float: left;
    }
  }
}

.meatballs ul {
	list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 1em;

    a {
      display: inline-block;
      width: 18px;
      height: 18px;
      font-size: 0;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      outline: none;
      box-sizing: border-box;
      transition: .2s ease-in-out;
      border: 2px solid rgb(0, 0, 0);
      border-radius: 50%;
      &:hover,
      &.is-active {
        background-color: rgb(0, 0, 0);
      }
    }
  }
}
